drools-wb-jcr2vfs-migration/drools-wb-jcr2vfs-migration-core/src/main/xsd/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="module">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="category">
    <xs:sequence>
      <xs:element name="categories" type="categories" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="categories">
    <xs:sequence>
      <xs:element name="categoryList" type="category" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

